outbound/target/
outbound/pom.xml.tag
outbound/pom.xml.releaseBackup
outbound/pom.xml.versionsBackup
outbound/pom.xml.next
outbound/release.properties
outbound/dependency-reduced-pom.xml
outbound/buildNumber.properties
outbound/.mvn/timing.properties
# https://github.com/takari/maven-wrapper#usage-without-binary-jar
outbound/.mvn/wrapper/maven-wrapper.jar
